@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';


:root {
  --primary: #064e41;
}

* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
  outline: none;

  ::-moz-selection { /* Code for Firefox */
    @apply bg-primary-100;
  }

  ::selection {
    @apply bg-primary-100;
  }
}


.cdk-menu {
  @apply flex flex-col gap-2 shadow-md rounded-md mt-2 p-2 z-50 bg-white;
}

.sheet {
  @apply bg-white rounded-tl-lg rounded-br-lg border-l border-gray-200;
  box-shadow: -9px 0px 32px -6px rgba(0, 0, 0, 0.1);
}
