@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --primary: #064e41;
}

* {
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
}

@layer components {

  .focus-visible-outline {
    @apply focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2 focus-visible:outline-none;
  }

  
  .link {
    @apply decoration-1 decoration-wavy underline-offset-2;

    &:focus,
    &:hover {
      @apply underline text-primary-500;
    }
  }

  input[type='number'] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .page-content {
    @apply p-4 overflow-y-auto min-h-0 flex-auto;
  }

}

.cdk-menu {
  @apply flex flex-col gap-2 shadow-md rounded-xl mt-2 p-2 z-50 bg-white;
}

.sheet {
  @apply bg-white rounded-tl-xl rounded-bl-xl border-l border-gray-200;
  box-shadow: -9px 0px 32px -6px rgba(0, 0, 0, 0.1);
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  @apply bg-white rounded-xl border border-gray-200;
  box-shadow: -9px 0px 32px -6px rgba(0, 0, 0, 0.1);
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
