@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';


:root {
  --primary: #064e41;
}

* {
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.5px;
  outline: none;

  ::-moz-selection { /* Code for Firefox */
    @apply bg-primary-100;
  }

  ::selection {
    @apply bg-primary-100;
  }
}

@layer components {
  .link {
    @apply decoration-1 decoration-wavy underline-offset-2;

    &:focus,&:hover {
      @apply underline text-primary-500 bg-primary-100;
    }
  }
}

.cdk-menu {
  @apply flex flex-col gap-2 shadow-md rounded-md mt-2 p-2 z-50 bg-white;
}

.sheet {
  @apply bg-white rounded-tl-lg rounded-br-lg border-l border-gray-200;
  box-shadow: -9px 0px 32px -6px rgba(0, 0, 0, 0.1);
}

.sheet-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-content {
  @apply p-4 overflow-y-auto bg-white min-h-0 flex-auto;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
